In [1]:
import pandas as pd
import win32com.client as win32

In [2]:
df_mail_list=pd.read_excel('Test_mail.xlsx')
df_mail_list

  Organization  Emp No.             Name  Office                  New E-Mail
0          YIL   130359  Rama Krishnan K  E.City  rama.krishnan@yokogawa.com
1          YIL   130359   Vijay ananth E  E.City  n.vijayananth@yokogawa.com
2          YIL   130359          Arthi E  E.City        arthi.e@yokogawa.com

In [6]:
for i in range(len(df_mail_list)) :
    outlook = win32.Dispatch('outlook.application')
    mail = outlook.CreateItem(0)
    mail.To = df_mail_list.loc[i, "New E-Mail"]
    mail.Subject = 'This mail was automated from python please do ignore this'
    mail.Body = 'Test mail using Python '
    #mail.HTMLBody = '<h2>HTML Message body</h2>' #this field is optional

    # To attach a file to the email (optional):
    attachment  = "D:\GRT\GRT_Overview.pptx"
    mail.Attachments.Add(attachment)

    mail.Send()